.cache
vendor
node_modules
admin/assets/min-css/
admin/assets/min-js/
*.json
*.yml
lib/
*-rtl*
.github
Gruntfile.js
composer.lock
bsf-analytics
admin/build/
component-data.json
AI_GUIDE.md
phpinsights.php
tailwind.config.js
webpack.config.js
settings.local.json